@model IEnumerable<Airports_Project_Final.Data.Seat>

@{
    ViewData["Title"] = "Display";
}
<div class="mega-seats-wrap">
    <div class="all-seats-info-wrap">
        <h3>Economy</h3>
        @foreach (var item in Model.Where(s => s.Class == "Economy"))
        {
            <div class="display-seats-wrap">
                <div>
                    <span>@item.Row</span>
                    <span>@item.Column</span>
                </div>

                @if (item.Booked)
                {
                    <p style="color:orangered;">Booked</p>
                }
                else
                {
                    <p style="color:lightgreen;">Available</p>
                }
                <div>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="fancy-delete-seat">Delete</a>
                    @if (item.Booked)
                    {
                        <span class="fancy-book-seat-span">Book</span>
                    }
                    else
                    {
                        <a asp-action="Book" asp-route-id="@item.ID" class="fancy-book-seat">Book</a>
                    }
                </div>

            </div>
        }
    </div>

    <div class="all-seats-info-wrap">
        <h3>Business</h3>
        @foreach (var item in Model.Where(s => s.Class == "Business"))
        {
            <div class="display-seats-wrap">
                <div>
                    <span>@item.Row</span>
                    <span>@item.Column</span>
                </div>

                @if (item.Booked)
                {
                    <p style="color:orangered;">Booked</p>
                }
                else
                {
                    <p style="color:lightgreen;">Available</p>
                }
                <div>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="fancy-delete-seat">Delete</a>
                    @if (item.Booked)
                    {
                        <span class="fancy-book-seat-span">Book</span>
                    }
                    else
                    {
                        <a asp-action="Book" asp-route-id="@item.ID" class="fancy-book-seat">Book</a>
                    }
                </div>

            </div>
        }
    </div>

    <div class="all-seats-info-wrap">
        <h3>First</h3>
        @foreach (var item in Model.Where(s => s.Class == "First"))
        {
            <div class="display-seats-wrap">
                <div>
                    <span>@item.Row</span>
                    <span>@item.Column</span>
                </div>

                @if (item.Booked)
                {
                    <p style="color:orangered;">Booked</p>
                }
                else
                {
                    <p style="color:lightgreen;">Available</p>
                }
                <div>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="fancy-delete-seat">Delete</a>
                    @if (item.Booked)
                    {
                        <span class="fancy-book-seat-span">Book</span>
                    }
                    else
                    {
                        <a asp-action="Book" asp-route-id="@item.ID" class="fancy-book-seat">Book</a>
                    }
                </div>

            </div>
        }
    </div>
</div>