@model Airports_Project_Final.Models.CreateFlightModel

@{
    ViewData["Title"] = "Create";
}

<div class="flight-creation-info-wrap">
    <h1>Create flight with seats</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form class="create-flight-info-holder" asp-action="Create">
                <div class="main-flight-info">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AirlineName" class="control-label"></label>
                        <select asp-for="AirlineName" class="form-control">
                            @foreach (var item in Model.AllAirlines)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="AirlineName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AirportFromPORT_ID" class="control-label"></label>
                        <select onchange="GetPortId1()" asp-for="AirportFromPORT_ID" class="form-control" id="form-control1">
                            @foreach (var item in Model.AllAirports)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="AirportFromPORT_ID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AirportToPORT_ID" class="control-label"></label>
                        <select onchange="GetPortId2()" asp-for="AirportToPORT_ID" class="form-control"  id="form-control2">
                            @foreach (var item in Model.AllAirports)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="AirportToPORT_ID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TakeOffDate" class="control-label"></label>
                        <input onchange="TimeValidate()" min="@DateTime.Now.AddHours(3).ToString("yyyy-MM-ddTHH:mm")" value="@DateTime.Now.AddHours(3)" asp-for="TakeOffDate" class="form-control" id="first-date-time" />
                        <span asp-validation-for="TakeOffDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LandingDate" class="control-label"></label>
                        <input value="" asp-for="LandingDate" class="form-control" id="second-date-time" />
                        <span asp-validation-for="LandingDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>

                <div class="flight-seat-info">
                    <div>
                        <span class="rows-span">ROWS</span>
                        <span class="cols-span">COLS</span>
                    </div>
                    <div class="any-seat-class">
                        <h5 style="color: chartreuse;">Economy class:</h5>
                        <div style="display: flex; width: 200px; justify-content: space-between;">
                            <div>
                                <select asp-for="RowsEconomy" class="form-control">
                                    <option>@null</option>
                                    @for (int i = 1; i <= 20; i++)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                                <span asp-validation-for="RowsEconomy" class="text-danger"></span>
                            </div>
                            <div>
                                <select asp-for="ColsEconomy" class="form-control">
                                    <option>@null</option>
                                    @for (int i = 1; i <= 6; i++)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                                <span asp-validation-for="ColsEconomy" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="any-seat-class">
                        <h5 style="color: chartreuse;">Business class:</h5>
                        <div style="display: flex; width: 200px; justify-content: space-between;">
                            <div>
                                <select asp-for="RowsBusiness" class="form-control">
                                    <option>@null</option>
                                    @for (int i = 1; i <= 20; i++)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                                <span asp-validation-for="RowsBusiness" class="text-danger"></span>
                            </div>
                            <div>
                                <select asp-for="ColsBusiness" class="form-control">
                                    <option>@null</option>
                                    @for (int i = 1; i <= 6; i++)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                                <span asp-validation-for="ColsBusiness" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="any-seat-class">
                        <h5 style="color: chartreuse;">First class:</h5>
                        <div style="display: flex; width: 200px; justify-content: space-between;">
                            <div>
                                <select asp-for="RowsFirst" class="form-control">
                                    <option>@null</option>
                                    @for (int i = 1; i <= 20; i++)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                                <span asp-validation-for="RowsFirst" class="text-danger"></span>
                            </div>
                            <div>
                                <select asp-for="ColsFirst" class="form-control">
                                    <option>@null</option>
                                    @for (int i = 1; i <= 6; i++)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                                <span asp-validation-for="ColsFirst" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
