@model IEnumerable<Airports_Project_Final.Models.ListFlightModel>

@{
    ViewData["Title"] = "Index";
}

<div class="all-airline-info-wrap">
    <div class="input-text-search-flights">
        <form class="input-text-search-flights-form" method="post" onsubmit="SetAttributes()">
            <input class="form--input" id="input-text" type="text" placeholder="Search by -->" />
            <select class="form--select" id="select-text">
                <option value="Origin">Origin</option>
                <option value="Destination">Destination</option>
                <option value="Airline">Airline</option>
            </select>
            <button class="form-submit-button" type="submit">Go!</button>
        </form>
        <div class="title-and-filter-holder">
            <h1>Flights</h1>
            <a class="search-flight-button" asp-action="Filter" asp-controller="Flights">Filter...</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Airline</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Take off date</th>
                <th>Landing date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AirlineName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AirportFromName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AirportToName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TakeOffDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LandingDate)
                    </td>
                    <td>
                        <div class="table-data-links">
                            <a asp-controller="Seats" asp-action="Display" asp-route-flightid="@item.ID" class="fancy-button-seats">View Seats</a>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="fancy-button-delete">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>