@model OnlineStore.MVC.Models.CategoryModel

@{
    ViewData["Title"] = "Details";
}

<h2>All items in category - @Model.Name:</h2>

    <table class="table">
        
       @foreach (var product in Model.Products)
       {
            <tr>
                <td>
                    <h5>
                        @Html.DisplayFor(modelItem => product.ColorName) 
                        @Html.DisplayFor(modelItem => product.Name)
                    </h5>
                </td>
                <td>
                    <div class="bg-warning">
                        @Html.DisplayFor(modelItem => product.Price) $
                    </div>
                </td>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">|Details|</a>
                </td>
            </tr>
        }
    </table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
